.env
venv/
__pycache__
Asteroid.session-journal
Asteroid.session
*.mp3
*.webm
*.webp
*.mp4
*.tgs
.vscode/*
/*.jpg
/*.png
/*.mp4
addons/
Asteroid.log
target/npmlist.json
node_modules/
glitch_me/
.idea
venv/
